# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true
indent_size = 4
max_line_length = 80

# # Already default setting
# [*.sh]
# indent_size = 4

# # Already default setting
# Same as in .clang-format
# [{*.cpp, *.hpp, *.S}]
# indent_size = 4

# # Already default setting
# [{*.ld, *.lds}]
# indent_size = 4

[*.nix]
indent_size = 2

[*.toml]
indent_size = 2

[*.yml]
indent_size = 2


[{CMakeLists.txt,*.cmake}]
indent_size = 2
